@charset "UTF-8";

/* Light theme color */
$light-background: rgb(22 25 30 / 98%);
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #9e9e9e;
$light-color-variant: black;
$light-color-secondary: #b3b3bd;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: rgba(22, 25, 30, 0.98);
$dark-background-secondary: rgb(59, 61, 66);
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-variant: white;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;